@font-face {
    font-family: Heritage Display;
    src: url("Heritage-Display.otf") format("opentype");
}

@font-face {
    font-family: Heritage Display;
    font-weight: bold;
    src: url("Heritage-Display.otf") format("opentype");
}

html {
    background-color: white !important;
}

h1 {
    color: black;
    font-family: 'Heritage Display';
    font-size: 22vmin;
    margin: 10% auto;
    text-align: center;
    z-index: 5;
    position: relative;
}

.imagen {
    position: absolute;
    bottom: 10%;
    z-index: 1;
    margin: auto;
    width: 400px;
}

.sociales {
    font-size: large;
    position: relative;
    z-index: 50;
    text-align: center;
    margin: -10% auto;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 5.5vmin;
    padding: 0.5vmin 1vmin;
    margin: 0vmin 1vmin;
}

a:hover {
    text-decoration: none;
    width: 80%;
    background-color: black;
    color: white;
}

.sonrisa {
    cursor: grabbing;
}
